        {% if unique_stats %}
        <section>
            <h4>{{ _('Unique Users Statistics') }}</h4>
            <canvas id="unique-users-chart" width="650" height="400"></canvas>
        </section>
        {% end %}
