        {% if unique_stats %}
        <script src="{{ static_url('Chart.min.js') }}"></script>
        <script>
var ctx = $('#unique-users-chart').get(0).getContext("2d");
var options = {animation: false};
var data = {
    labels: [{% for stat in unique_stats %}'{{ stat.get_key_label() }}',{% end %}],
    datasets:[{label:'#1',data:[{% for stat in unique_stats %}{{ stat.value }},{% end %}]}]
};


var myBarChart = new Chart(ctx).Bar(data, options);
        </script>
        {% end %}
