        {% if near_locations %}
        <section>
            <h4>{{ _('Users Current Locations') }}</h4>
            <ul>
            {% for location in near_locations %}
                <li>{{ round(location.latitude, 7) }}, {{ round(location.longitude, 7) }} &mdash; {{ int(location.distance) }}m</li>
                {% end %}
            </ul>
        </section>
        {% end %}
