<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Share Your Location{% end %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        {% block meta %}{% end %}
        <link href="{{ static_url('style.css') }}" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]><script src="{{ static_url('html5shiv.min.js') }}"></script><![endif]-->
    </head>
    <body>
        {% block content %}{% end %}
    
        <script src="{{ static_url('jquery.min.js') }}"></script>
        <script src="{{ static_url('location.js') }}"></script>
        <script src="{{ static_url('share.js') }}"></script>
        
        {% block scripts %}{% end %}
    </body>
</html>
