
{% extends base.html %}

{% block meta %}
        <meta http-equiv="refresh" content="15" />
{% end %}

{% block content %}
        <section>
            <h3>Your Current Location</h3>
            <p id="geoloc"></p>
            <p>Online users: {{ current_stats }}</p>
            {% if not current_user %}
            <a href="/login">{{ _('Share you location') }}</a>
            {% else %}
            <form method="POST" action="/session/@current">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit">{{ _('Sign out') }}</button>
            </form>
            {% end %}
        </section>

        {% if current_user %}
            {% include includes/users-location.html %}
            {% include includes/users-stats.html %}
        {% end %}

{% end %}

{% block scripts %}

        {% if current_user %}
            {% include includes/users-stats-script.html %}
        {% end %}

{% end %}
