
{% extends base.html %}

{% block content %}
        <section>
            <form method="post" action="/session">
                <input id="login-location-lat" type="hidden" name="location_lat" value="" />
                <input id="login-location-long" type="hidden" name="location_long" value="" />
                <fieldset>
                    <legend>{{ _('Sign In and share your location') }}</legend>
                    <dl>
                        <dt><label for="login-email">{{ _('Email address') }}</label></dt>
                        <dd><input id="login-email" type="email" name="email_address" required /></dd>
                        <dd><input id="login-sharing" type="checkbox" name="allow_sharing" value="1" required/>
                            <label for="login-sharing">{{ _('Allow sharing my current location') }}</label>

                            <p>{{ _('Your Current Location') }}</p>
            <p id="geoloc"><em>{{ _('waiting for your location') }}</em></p>
                        </dd>
                        <dd>&nbsp;</dd>
                        <dd><button type="submit" id="login-btn" disabled>{{ _('Sign In') }}</button></dd>
                    </dl>
                </fieldset>
            </form>
        </section>
{% end %}
